<logo><img src="/images/logo-no-text.png" width="131" height="103" alt="logo"></logo>
<div class="wrapper">
<nav role="navigation">
  <ul>
    <li><a href="#">Priartem</a>
  <ul class="dropdown">
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Notre histoire</a></li>
        <li><a href="#">Ce que nous voulons</a></li>
      </ul>
       </li>

    <li><a href="#">Nos actions</a>
      <ul class="dropdown">
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Actions en justice</a></li>
        <li><a href="#">Archives</a></li>
      </ul>
    </li>

    <li><a href="#">Comprendre</a>
      <ul class="dropdown">
        <li><a href="#">Ondes et Santé</a></li>
        <li><a href="#">Les <i>Lettres</i> de Priartem</a></li>
        <li><a href="#">La controverse scientifique</a></li>
	<li><a href="#">Vidéos</a></li>
	<li><a href="#">Autres ressources</a></li>
      </ul>
    </li>

        <li><a href="#">Participer</a>
      <ul class="dropdown">
        <li><a href="#">Devenir bénévole</a></li>
	<li><a href="#">Se former</a></li>
	<li><a href="#">Agir localement</a></li>
        <li><a href="#">Adhérer</a></li>
        <li><a href="#">Faire un don</a></li>
      </ul>
    </li>

    <li><a href="#">EHS</a>
      <ul class="dropdown">
        <li><a href="#">Suis-je EHS ?</a></li>
        <li><a href="#">Se protéger</a></li>
        <li><a href="#">Notre réseau</a></li>
      </ul>
    </li>
  
  </ul>
</nav>
</div>
